:root {
  --color-red: hsl(0, 100%, 68%);
  --color-very-dark-blue: hsl(230, 29%, 20%);
  --color-dark-grayish-blue: hsl(230, 11%, 40%);
  --color-grayish-blue: hsl(231, 7%, 65%);
  --color-light-grayish-blue: hsl(207, 33%, 95%);

  --barlow-condensed-font-family: "Barlow Condensed", sans-serif;
  --barlow-font-family: "Barlow", sans-serif;
  --font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--barlow-font-family);
}

.project-tracking-intro-component {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.project-tracking-intro-component::after {
  content: "";
  background-color: var(--color-light-grayish-blue);
  top: 0;
  left: 50%;
  width: 100%;
  height: 55vh;
  position: absolute;
  z-index: 0;
  border-radius: 0 0 0 5rem;
}

.hamburger-btn {
  display: none;
}

.close-btn {
  display: none;
}

.project-mobile-menu {
  display: none;
}

.project-tracking-component-nav {
  width: 100%;
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.project-intro-component-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.project-intro-component-nav-item {
  list-style-type: none;
}

.project-intro-component-nav-item a {
  text-decoration: none;
  font-family: var(--barlow-condensed-font-family);
  font-weight: 600;
  font-size: var(--font-size);
  color: var(--color-very-dark-blue);
}

.project-intro-component-nav-item a:hover {
  text-decoration: underline;
}

.login {
  margin-left: 2rem;
  position: relative;
}

.login::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-grayish-blue);
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateX(-50%);
}

.login a {
  color: var(--color-grayish-blue);
}

.project-intro-component-content {
  display: flex;
  align-items: flex-start;
  padding-left: 10rem;
  margin-top: 2rem;
  gap: 5rem;
  position: relative;
  z-index: 1;
}

.project-intro-component-content-left {
  width: 55%;
  margin: 3rem 0;
}

.project-intro-component-left-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.project-intro-component-left-header .tag {
  font-size: var(--font-size);
  color: white;
  background-color: var(--color-very-dark-blue);
  padding: 0.25rem 0.8rem;
  border-radius: 50px;
  font-weight: 600;
}

.monograph {
  font-size: var(--font-size);
  color: var(--color-dark-grayish-blue);
}

.project-intro-component-content-left .project-heading {
  font-size: 4.5rem;
  padding: 0;
  color: var(--color-very-dark-blue);
  font-family: var(--barlow-condensed-font-family);
  text-transform: uppercase;
  line-height: 4.5rem;
  margin-bottom: 1.5rem;
}

.project-intro-component-content-left .project-paragraph {
  font-size: 1.5rem;
  color: var(--color-very-dark-blue);
  font-family: var(--barlow-font-family);
  opacity: 0.8;
  padding-right: 10.5rem;
  margin-bottom: 2rem;
}

.project-intro-component-content-right {
  width: 1500px;
  height: 500px;
  margin-right: -19rem;
}

.project-intro-component-content-right img {
  width: 100%;
  height: 100%;
}

.project-intro-component-left-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-top: 4rem;
}

.schedule {
  width: 200px;
  height: 50px;
  border-radius: 0.5rem;
  color: white;
  font-size: var(--font-size);
  font-family: var(--barlow-condensed-font-family);
  font-weight: 600;
  border: none;
  background-color: var(--color-red);
  text-transform: uppercase;
  cursor: pointer;
}

.schedule:hover {
  opacity: 0.8;
}

.preview {
  font-size: var(--font-size);
  color: var(--color-dark-grayish-blue);
  text-transform: uppercase;
  font-family: var(--barlow-condensed-font-family);
  letter-spacing: 0.2rem;
}

@media (max-width: 1200px) {
  .project-tracking-intro-component::after {
    content: "";
    background-color: var(--color-light-grayish-blue);
    top: 0;
    left: 45%;
    width: 100%;
    height: 55vh;
    position: absolute;
    z-index: 0;
    border-radius: 0 0 0 5rem;
  }

  .project-tracking-component-nav {
    width: 100%;
    padding: 4rem;
  }

  .project-intro-component-content {
    padding-left: 4rem;
    margin-top: 2rem;
    gap: 1rem;
  }

  .project-intro-component-content-left {
    width: 50%;
    margin: 3rem 0;
  }

  .project-intro-component-left-header {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .project-intro-component-left-header .tag {
    font-size: var(--font-size);
  }

  .project-intro-component-content-left .project-heading {
    font-size: 3.5rem;
    padding: 0;
    color: var(--color-very-dark-blue);
    font-family: var(--barlow-condensed-font-family);
    text-transform: uppercase;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .project-intro-component-content-left .project-paragraph {
    font-size: 1.2rem;
    padding-right: 3rem;
  }

  .project-intro-component-content-right {
    width: 1000px;
    height: 400px;
    margin-right: -16rem;
  }

  .project-intro-component-content-right img {
    width: 100%;
    height: 100%;
  }

  .project-intro-component-left-footer {
    margin-top: 3rem;
  }

  .preview {
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 1000px) {
  .project-tracking-intro-component::after {
    content: "";
    background-color: var(--color-light-grayish-blue);
    top: 0;
    left: 45%;
    width: 100%;
    height: 55vh;
    position: absolute;
    z-index: 0;
    border-radius: 0 0 0 5rem;
  }

  .project-intro-component-content-left {
    width: 50%;
    margin: 3rem 0;
  }

  .project-intro-component-left-header {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .project-intro-component-left-header .tag {
    font-size: var(--font-size);
  }

  .project-intro-component-content-left .project-heading {
    font-size: 3rem;
    padding: 0;
    color: var(--color-very-dark-blue);
    font-family: var(--barlow-condensed-font-family);
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  .project-intro-component-content-left .project-paragraph {
    font-size: 1.2rem;
    padding-right: 3rem;
  }

  .project-intro-component-content-right {
    width: 1000px;
    height: 400px;
    margin-right: -16rem;
  }

  .project-intro-component-content-right img {
    width: 100%;
    height: 100%;
  }

  .project-intro-component-left-footer {
    margin-top: 3rem;
  }

  .schedule {
    width: 150px;
    height: 50px;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: var(--barlow-condensed-font-family);
    font-weight: 600;
    border: none;
    background-color: var(--color-red);
    text-transform: uppercase;
  }

  .preview {
    font-size: 1rem;
    color: var(--color-dark-grayish-blue);
    text-transform: uppercase;
    font-family: var(--barlow-condensed-font-family);
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 600px) {
  .project-tracking-intro-component{
    height: fit-content;
  }

  .project-tracking-component-nav {
    padding: 2rem;
    margin: 0;
  }

  .project-intro-component-nav-items {
    display: none;
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburger-btn,
  .close-btn {
    width: 30px;
  }

  .hamburger-btn img,
  .close-btn img {
    width: 100%;
  }

  .project-mobile-menu.active {
    display: block;
    width: 88%;
    height: 300px;
    top: 6rem;
    left: 2rem;
    position: fixed;
    z-index: 5;
    padding: 2rem 0;
    background-color: white;
    box-shadow: 0 0 40rem 2rem var(--color-light-grayish-blue);
    text-align: center;
  }

  .project-mobile-menu-nav-item {
    list-style: none;
    margin: 2rem;
  }

  .project-mobile-menu-nav-item a {
    text-decoration: none;
    color: var(--color-very-dark-blue);
    font-weight: bold;
    text-transform: uppercase;
  }

  .project-mobile-menu-nav-item.login {
    margin-top: 3rem;
  }

  .project-mobile-menu-nav-item.login a {
    margin-top: 3rem;
    color: var(--color-grayish-blue);
  }

  .login::before {
    width: 450px;
    height: 1.2px;
    top: -1.5rem;
    left: 13rem;
    margin-bottom: 2rem;
    border-radius: 0;
  }

  .project-intro-component-content {
    flex-direction: column-reverse;
    padding: 0 2rem;
    margin: 0;
  }

  .project-intro-component-content-left {
    width: 100%;
  }

  .project-intro-component-left-header {
    width: 100%;
  }

  .monograph {
    letter-spacing: 0.1rem;
    font-size: var(--font-size);
  }

  .project-intro-component-content-right {
    width: 160%;
    height: 350px;
    margin-left: -7.5%;
  }

  .project-tracking-intro-component::after {
    content: "";
    background-color: var(--color-light-grayish-blue);
    top: 0;
    left: 50%;
    width: 100%;
    height: 53vh;
    position: absolute;
    z-index: 0;
    border-radius: 0 0 0 5rem;
  }

  .project-intro-component-content-left .project-heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }

  .project-intro-component-content-left .project-paragraph {
    font-size: var(--font-size);
    padding-right: 6rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .project-intro-component-left-footer {
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .schedule {
    width: 180px;
    height: 50px;
    font-size: 1rem;
  }

  .preview {
    font-size: 1rem;
    padding: 0;
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 500px) {
  .project-tracking-component-nav {
    padding: 2rem;
    margin: 0;
  }

  .project-intro-component-nav-items {
    display: none;
  }

  .project-intro-component-content {
    flex-direction: column-reverse;
    padding: 0 2rem;
    margin: 0;
    position: relative;
    z-index: 0;
  }

  .project-mobile-menu-nav-item a {
    text-transform: uppercase;
  }

  .project-mobile-menu-nav-item.login a {
    color: var(--color-grayish-blue);
  }

  .project-intro-component-content-left {
    width: 100%;
  }

  .project-intro-component-left-header {
    width: 100%;
  }

  .monograph {
    letter-spacing: 0.1rem;
    font-size: var(--font-size);
  }

  .project-intro-component-content-right {
    width: 160%;
    height: 300px;
    margin-left: -7.5%;
  }

  .project-tracking-intro-component::after {
    content: "";
    background-color: var(--color-light-grayish-blue);
    top: 0;
    left: 55%;
    width: 100%;
    height: 53vh;
    position: absolute;
    z-index: auto;
    display: none;
    border-radius: 0 0 0 5rem;
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .project-mobile-menu.active {
    display: block;
    width: 85%;
    height: 250px;
    top: 6rem;
    left: 2rem;
    position: fixed;
    z-index: 5;
    background-color: white;
    box-shadow: 0 0 40rem 2rem var(--color-light-grayish-blue);
    text-align: center;
  }

  .project-mobile-menu-nav-item {
    list-style: none;
    margin: 2rem;
  }

  .project-mobile-menu-nav-item a {
    text-decoration: none;
    color: var(--color-very-dark-blue);
    font-weight: bold;
  }

  .login {
    margin-top: 3rem;
  }

  .login::before {
    width: 350px;
    height: 1.2px;
    top: -1.5rem;
    left: 10rem;
    margin-bottom: 2rem;
    border-radius: 0;
  }

  .hamburger-btn,
  .close-btn {
    width: 30px;
  }

  .hamburger-btn img,
  .close-btn img {
    width: 100%;
  }

  .project-intro-component-content-left .project-heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }

  .project-intro-component-content-left .project-paragraph {
    font-size: var(--font-size);
    padding-right: 6rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .project-intro-component-left-footer {
    margin-top: 1.5rem;
    gap: 0.5rem;
  }

  .schedule {
    width: 180px;
    height: 50px;
    font-size: 1rem;
  }

  .preview {
    font-size: 1rem;
    padding: 0;
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 375px) {
  .project-tracking-component-nav {
    padding: 2rem;
    margin: 0;
  }

  .project-intro-component-nav-items {
    display: none;
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .close-btn {
    display: none;
  }

  .project-mobile-menu {
    background-color: white;
    z-index: 300;
    padding: 0 2rem;
  }

  .project-intro-component-content {
    flex-direction: column-reverse;
    padding: 0 2rem;
    margin: 0;
  }

  .project-intro-component-content-left {
    width: 100%;
  }

  .project-intro-component-left-header {
    width: 100%;
  }

  .monograph {
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }

  .project-intro-component-content-right {
    width: 162.5%;
    height: 245px;
    margin-left: -7.5%;
  }

  .project-mobile-menu-nav-item a {
    text-transform: uppercase;
  }

  .project-mobile-menu-nav-item.login a {
    color: var(--color-grayish-blue);
  }

  .login::before {
    width: 270px;
    height: 1.5px;
    top: -1.5rem;
    left: 5.6rem;
    margin-bottom: 2rem;
    border-radius: 0;
  }

  .project-tracking-intro-component::after {
    content: "";
    background-color: var(--color-light-grayish-blue);
    top: 0;
    left: 50%;
    width: 100%;
    height: 53vh;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0 5rem;
  }

  .project-intro-component-content-left .project-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .project-intro-component-content-left .project-paragraph {
    font-size: var(--font-size);
    padding-right: 2rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .project-intro-component-left-footer {
    margin-top: 1.5rem;
    gap: 0.5rem;
  }

  .schedule {
    width: 145px;
    height: 45px;
    font-size: 0.9rem;
  }

  .preview {
    font-size: 0.9rem;
    padding: 0;
    letter-spacing: 0.1rem;
  }
}
